<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="epoppee">
                <h2 class="jh-entity-heading"><span v-text="$t('formsApp.epoppee.detail.title')">Epoppee</span> {{epoppee.id}}</h2>
                <dl class="row jh-entity-details">
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="epoppee.id" :to="{name: 'EpoppeeEdit', params: {epoppeeId: epoppee.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./epoppee-details.component.ts">
</script>
