<template>
  <div v-if="!authenticated">
    <button v-on:click="openLogin()">
      <font-awesome-icon icon="sign-in-alt" />
      <span v-text="$t('global.menu.account.login')">Sign in</span>
    </button>
  </div>
  <div v-else class="d-flex flex-column justify-content-center">
    <div class="d-flex justify-content-evenly">
      <div v-for="form in forms" :key="form.id">
        <h5>
          <a :href="`/forms/${form.path}`">{{ form.title }}</a>
        </h5>
        <p>{{ form.details }}</p>
      </div>
    </div>

    <dynamic-table />

    <div v-if="currentRoute" class="d-flex flex-column align-items-center justify-content-center p-3">
      <forms-update :title="title"></forms-update>
    </div>
  </div>
</template>

<script lang="ts" src="./forms.component.ts">
</script>
