<template>
  <div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">Last modified by</th>
            <th scope="col">Created at</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="row in rows" :key="row.id">
            <td><b-button variant="danger" class="del-button" title="delete" @click="deleteRow(row.id)">X</b-button></td>
            <td><b-form-input class="row-title" @change="titleEdit" :value="row.title" /></td>
            <td>
              <textarea class="form-control row-content" :value="row.content" rows="1" maxlength="1024" placeholder="Enter something..." />
            </td>
            <td>
              <i class="row-meta">{{ row.lastModifiedBy }}</i>
            </td>
            <td>
              <i class="row-meta">{{ row.createdAt }}</i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-button class="add-button" variant="outline-primary" title="Ajouter un nouveau champ" @click="addRow">+</b-button>
  </div>
</template>

<script lang="ts" src="./dynamicTable.component.ts">
</script>

<style scoped>
tr > td {
  vertical-align: baseline;
}

.del-button {
  font-size: 10px;
}
.add-button {
  margin-top: 10px;
}
</style>