<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="forms">
                <h2 class="jh-entity-heading"><span v-text="$t('formsApp.forms.detail.title')">Forms</span> {{forms.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('formsApp.forms.formName')">Form Name</span>
                    </dt>
                    <dd>
                        <span>{{forms.formName}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('formsApp.forms.date')">Date</span>
                    </dt>
                    <dd>
                        <span>{{forms.date}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('formsApp.forms.nom')">Nom</span>
                    </dt>
                    <dd>
                        <span>{{forms.nom}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('formsApp.forms.reference')">Reference</span>
                    </dt>
                    <dd>
                        <span>{{forms.reference}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('formsApp.forms.description')">Description</span>
                    </dt>
                    <dd>
                        <span>{{forms.description}}</span>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="forms.id" :to="{name: 'FormsEdit', params: {formsId: forms.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./forms-details.component.ts">
</script>
