<template>
  <div>
    <h2 id="page-heading">
      <span v-text="$t('formsApp.forms.home.title')" id="forms-heading">Forms</span>
      <router-link
        :to="{ name: 'FormsCreate' }"
        tag="button"
        id="jh-create-entity"
        class="btn btn-primary float-right jh-create-entity create-forms"
      >
        <font-awesome-icon icon="plus"></font-awesome-icon>
        <span v-text="$t('formsApp.forms.home.createLabel')"> Create a new Forms </span>
      </router-link>
    </h2>
    <b-alert
      :show="dismissCountDown"
      dismissible
      :variant="alertType"
      @dismissed="dismissCountDown = 0"
      @dismiss-count-down="countDownChanged"
    >
      {{ alertMessage }}
    </b-alert>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && forms && forms.length === 0">
      <span v-text="$t('formsApp.forms.home.notFound')">No forms found</span>
    </div>
    <div class="table-responsive" v-if="forms && forms.length > 0">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><span v-text="$t('global.field.id')">ID</span></th>
            <th><span v-text="$t('formsApp.forms.formName')">Form Name</span></th>
            <th><span v-text="$t('formsApp.forms.date')">Date</span></th>
            <th><span v-text="$t('formsApp.forms.nom')">Nom</span></th>
            <th><span v-text="$t('formsApp.forms.reference')">Reference</span></th>
            <th><span v-text="$t('formsApp.forms.description')">Description</span></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="forms in forms" :key="forms.id">
            <td>
              <router-link :to="{ name: 'FormsView', params: { formsId: forms.id } }">{{ forms.id }}</router-link>
            </td>
            <td>{{ forms.formName }}</td>
            <td>{{ forms.date }}</td>
            <td>{{ forms.nom }}</td>
            <td>{{ forms.reference }}</td>
            <td>{{ forms.description }}</td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'FormsView', params: { formsId: forms.id } }" tag="button" class="btn btn-info btn-sm details">
                  <font-awesome-icon icon="eye"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                </router-link>
                <router-link :to="{ name: 'FormsEdit', params: { formsId: forms.id } }" tag="button" class="btn btn-primary btn-sm edit">
                  <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                </router-link>
                <b-button v-on:click="prepareRemove(forms)" variant="danger" class="btn btn-sm" v-b-modal.removeEntity>
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="formsApp.forms.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span
      >
      <div class="modal-body">
        <p id="jhi-delete-forms-heading" v-text="$t('formsApp.forms.delete.question', { id: removeId })">
          Are you sure you want to delete this Forms?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-forms"
          v-text="$t('entity.action.delete')"
          v-on:click="removeForms()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./forms.component.ts">
</script>
