<template>
  <div class="row justify-content-center" style="width: 100%">
    <div class="col-12">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2 id="formsApp.forms.home.createOrEditLabel">{{ title }}</h2>
        <div>
          <div class="form-group" v-if="forms.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="forms.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('formsApp.forms.formName')" for="forms-formName">Form Name</label>
            <input
              type="text"
              class="form-control"
              name="formName"
              id="forms-formName"
              :class="{ valid: !$v.forms.formName.$invalid, invalid: $v.forms.formName.$invalid }"
              v-model="$v.forms.formName.$model"
              disabled
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('formsApp.forms.date')" for="forms-date">Date</label>
            <input
              type="text"
              class="form-control"
              name="date"
              id="forms-date"
              :class="{ valid: !$v.forms.date.$invalid, invalid: $v.forms.date.$invalid }"
              v-model="$v.forms.date.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('formsApp.forms.nom')" for="forms-nom">Nom</label>
            <input
              type="text"
              class="form-control"
              name="nom"
              id="forms-nom"
              :class="{ valid: !$v.forms.nom.$invalid, invalid: $v.forms.nom.$invalid }"
              v-model="$v.forms.nom.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('formsApp.forms.reference')" for="forms-reference">Reference</label>
            <input
              type="text"
              class="form-control"
              name="reference"
              id="forms-reference"
              :class="{ valid: !$v.forms.reference.$invalid, invalid: $v.forms.reference.$invalid }"
              v-model="$v.forms.reference.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('formsApp.forms.description')" for="forms-description">Description</label>
            <input
              type="text"
              class="form-control"
              name="description"
              id="forms-description"
              :class="{ valid: !$v.forms.description.$invalid, invalid: $v.forms.description.$invalid }"
              v-model="$v.forms.description.$model"
            />
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button type="submit" id="save-entity" :disabled="$v.forms.$invalid || isSaving" class="btn btn-primary">
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./forms-update.component.ts">
</script>